*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
}

header{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: greenyellow;
  color: darkgreen;
  min-height: 50px;
}

header h1{
  font-size: 1.6em;
}

header nav {
  min-width: 300px;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

header nav ul li a{
  font-weight: 400px;
  text-decoration: none;
  color: green;
} 

main{
  flex: 4;
  display: flex;
  justify-content: center;

}

#root{
  display: flex;
  flex-direction: column;
}